body {
    width: 1920px;
    height: 1080px;
    margin: 15px;
    padding: 20px;
    justify-self: center;
}

.bg1 {
    background-color: aqua;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
}

.bg2 {
    background-image: url(bg.png);
    text-align: center;
    padding: 500px;
    font-family: sans-serif;
    color: white;
}

.bg3 {
    color: aqua;
    padding: 20px;
    font-family: sans-serif;
    background: linear-gradient(to left, red , rgb(34, 0, 255));
}

.bg4 {
    height: 200px;
    background: url(logo.png)no-repeat center;
    background-size: contain;
    color: black;
    background-color: bisque;
    font-family: sans-serif;
    padding: 20px;
}

div.box {
    position: center;
    width: 250px;
    height: 250px;
    float: left;
    border: 5px solid black;
    border-radius: 5px;
    background-color: white;
}

div.box img {
    width: 250px;
    height: 250px;
}

div.box:hover {
    border: 5px solid red;
}

div.box .deskripsi{
    text-align: center;
    font-family: sans-serif;
}